# java project

jRTree/.idea
jRTree/.idea/*
jRTree/*.iml
jRTree/out
jRTree/out/*
jRTree/target
jRTree/target/*

#cplusplus project

cplusplus/.idea
cplusplus/.idea/*
cplusplus/*.iml
cplusplus/cmake-build-debug
cplusplus/cmake-build-debug/*

# python

*.pyc