# java project

jRTree/.idea
jRTree/.idea/*
jRTree/out
jRTree/out/*
jRTree/target
jRTree/target/*
jRTree/bin
jRTree/bin/*
jRTree/*.csv
jRTree/.classpath
jRTree/.project
jRTree/.settings
jRTree/*#

#cplusplus project

cplusplus/.idea
cplusplus/.idea/*
cplusplus/*.iml
cplusplus/cmake-build-debug
cplusplus/cmake-build-debug/*

# python

*.pyc
