# java project

jRTree/.idea
jRTree/.idea/*
jRTree/out
jRTree/out/*
jRTree/target
jRTree/target/*
jRTree/bin
jRTree/bin/*
jRTree/*.csv
jRTree/.classpath
jRTree/.project
jRTree/.settings
jRTree/*#

#cplusplus project

cplusplus/.idea
cplusplus/.idea/*
cplusplus/*.iml
cplusplus/cmake-build-debug
cplusplus/cmake-build-debug/*

# python

*.pyc
.idea
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
jRtree/src/main/main.iml
jRtree/src/test/test.iml
out/
synthdata-N8.csv
jRtree/jRTree.iml